@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

header {
  color: white;
  padding: 40px;
  text-align: center;
  font-family: "Vujahday Script", cursive;
  font-size: 30px;
  background-image: url(./img/lincenseplate.png);
  background-repeat: no-repeat;
  background-position: center;
}

#background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  background-color: transparent;
  min-height: 60vh;
  padding: 50px;
}

.products-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Poppins',
    sans-serif;
}

.card {
  width: 31%;
  display: inline-block;
  margin: 1% 1%;
  padding: 15px;
  background-color: #000000d0;
  border-radius: 20px;

}

@media(max-width: 992px) {
  .card {
    display: contents;
  }
}

.product-image {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;

}

#img-1 {
  background-image: url(./img/car1.jfif);
  border-radius: 20px;

}

@media(max-width: 992px) {
  #img-1 {
    margin-top: 50px;

  }
}

#img-2 {
  background-image: url(./img/car2.jpg);
  border-radius: 20px;

}

@media(max-width: 992px) {
  #img-2 {
    margin-top: 50px;

  }
}

#img-3 {
  background-image: url(./img/car3.jpg);
  border-radius: 20px;

}

@media(max-width: 992px) {
  #img-3 {
    margin-top: 50px;

  }
}

#img-4 {
  background-image: url(./img/car4.jpg);
  border-radius: 20px;
}

@media(max-width: 992px) {
  #img-4 {
    margin-top: 50px;

  }
}

#img-5 {
  background-image: url(./img/car5.jpg);
  border-radius: 20px;
}

@media(max-width: 992px) {
  #img-5 {
    margin-top: 50px;
  }
}

#img-6 {
  background-image: url(./img/car6.jpeg);
  border-radius: 20px;
}

@media(max-width: 992px) {
  #img-6 {
    margin-top: 50px;
  }
}

footer {
  color: white;
  text-align: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  background-color: #000000d0;
  border-radius: 10px;
  display: block;
  padding: 20px;
  transition: 600ms;

}

.btn:hover {
  padding: 10px;
  transition: 600ms;
}

